@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body-bg {
  background-color: var(--body-color);
}

/*? Reusable  */

:root {
  --primary-color: #4e47ff;
  --heading-color: #252432;
  --white-color: #ffffff;
  --card-heading: #1e1e1e;
  --card-reviewer: #b3b3b3;
  --bg-color: #eeeee4;
  --body-color: #6664b110;
  --black-color: #000000;
  --card-text-color: #757575;
  --footer-nav: #8987a1;
  --btn-hover-color: #ffa500;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 3.4rem;
  color: var(--primary-color);
}

.raleway-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.btn-primary {
  padding: 1.2rem 3.6rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

.btn-primary:hover {
  transform: scale(1.005);
  font-size: 1.8rem;
  background-color: var(--btn-hover-color);
  margin: 0;
}

/*? Header Design  */

.container {
  background-image: url("Assets/Hero-bg.png");
  height: 69.8rem;
  margin: 0 auto;
  padding: 0 15rem;
}

/*? Nav Design  */

.nav-head {
  color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

/*? Banner Design */

.banner {
  margin: 15.8rem 11.75rem 15.2rem 11.75rem;
  text-align: center;
}

.banner h1 {
  font-size: 6.5rem;
}

.banner .btn-primary {
  margin-top: 3.7rem;
}

/*? Action Design */

.action {
  display: flex;
  align-items: center;
  margin: 11.7rem 15rem;
  justify-content: space-between;
  gap: 22rem;
}

.action h3 {
  font-size: 4.2rem;
  color: var(--heading-color);
}

.action p {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  display: inline-block;
  padding: 2.3rem 0;
}

/*? User Section Design */

.user-section {
  background-color: var(--bg-color);
  margin: 11.7rem 15rem;
  padding: 5rem 8rem;
  border-radius: 2.4rem;
}
.user-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.user-section h3 {
  font-size: 3.8rem;
  text-align: center;
}

.user-section .inter-text h1 {
  font-size: 8rem;
}

.user-section .inter-text p {
  font-size: 2rem;
  color: var(--black-color);
  font-weight: 300;
  text-align: center;
}

/*? User Feedback Section Design */

.user-feedback {
  margin: 11.7rem 15rem;
  /* background-color: var(--white-color); */
}

.user-feedback-cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem;
}

.user-feedback h3 {
  font-size: 4.2rem;
  color: var(--heading-color);
  text-align: center;
}

.user-feedback h4 {
  font-size: 2rem;
  color: var(--card-heading);
  margin-top: 2rem;
}

.user-feedback p {
  font-size: 1.6rem;
  color: var(--card-heading);
  font-weight: 400;
  margin-top: 2rem;
  line-height: 2.24rem;
}

.user-feedback-card {
  padding: 2.4rem;
  border-radius: 1.4rem;
  background-color: var(--white-color);
}

.reviewer-info {
  margin-top: 2rem;
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.reviewer-info img {
  border-radius: 50%;
}

.reviewer-info-content h5 {
  /* padding: 0.2rem; */
  line-height: 2.24rem;
  font-weight: 600;
  color: var(--card-text-color);
  font-size: 1.6rem;
}

.reviewer-info-content h6 {
  /* padding: 0.2rem; */
  /* line-height: 2.24rem; */
  font-weight: 400;
  color: var(--card-text-color);
  font-size: 1.6rem;
}

/*? Newsletter Section Design */

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 9.22rem 15rem 1.4rem 15rem;
  gap: 11.5rem;
}

.newsletter h1 {
  font-size: 9.7rem;
  padding: 7.1rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: space-between;
}

label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 1rem;
}

.form-info input,
textarea {
  padding: 2rem 3.2rem;
  width: 49.7rem;
  font-size: 2rem;
  font-weight: 400;
}

.form-group textarea {
  border: none;
}

.newsletter .btn-primary {
  width: 49.7rem;
  padding: 1.9rem 0;
}

/*? Footer Design */

.footer-section {
  background-color: var(--white-color);
  padding: 10.4rem 45.4rem;
}

.footer-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.footer-nav ul a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--footer-nav);
}

.footer-content p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--footer-nav);
  margin-top: 0.8rem;
  text-align: center;
  line-height: 2.4rem;
}

.footer-content h1 {
  font-size: 10rem;
  font-weight: 900;
  color: var(--primary-color);
  text-align: center;
}

.footer-nav ul li {
  list-style-type: none;
}
